.form {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form__title, .form__description, .form__submit-mobile {
    padding: 1rem;
    border-radius: 2rem;
    outline: 0;
    width: 15rem;
    color: var(--primary300);
    text-align: center;
}

.form__submit {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    font-size: 2.5rem;
    color: var(--primary100);
    cursor: pointer;
    user-select: none;
}

.form__submit-mobile {
    display: none;
    text-align: center;
    font-size: 1.3rem;
    color: var(--primary100);
    font-weight: bolder;
    flex-grow: 1;
    box-sizing: content-box;
    cursor: pointer;
}

.form__submit:active, .form__submit-mobile:active {
    box-shadow: 1px 1px 2px var(--shadow400), -1px -1px 2px var(--shadow500), inset -5px 5px 10px var(--shadow100), inset 5px -5px 10px var(--shadow100), inset -5px -5px 10px var(--shadow200), inset 5px 5px 13px var(--shadow300);
}

.form__title, .form__description, .form__submit, .form__submit-mobile {
    outline: 0;
    background-color: var(--primary200);
    border: 0;
}


@media screen and (max-width: 720px) {
    .form {
        order: 1;
        flex-basis: 100%;
        flex-direction: column;
    }

    .form__submit-mobile {
        display: block;
    }

    .form__submit {
        display: none;
    }
}