.todo > * {
    margin: 0;
}

.todo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.todo__title {
    
}

.todo__description {
    
}

.todo__title, .todo__description {
    word-wrap: break-word;
}

.todo__done {
    
}

.todo__dot {
    min-height: 5rem;
    min-width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 6px 6px 12px var(--shadow200), inset -6px -6px 12px var(--shadow100);
}

.dot__inner {
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    box-shadow: 6px 6px 12px var(--shadow200), -6px -6px 12px var(--shadow100);
    cursor: move;
}

.todo__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 60%;
}

.todo__delete {
    outline: 0;
    background-color: var(--primary200);
    border: 0;
    color: var(--primary100);
}